.place-form {
  list-style: none;
  margin: 0 auto;
  width: 90%;
  max-width: 40rem;
  box-shadow: var(--shadow);
  border-radius: 16px;
  background: white;
}
.place-form .content {
	padding: 24px 32px;
}
.place-form .action {
	text-align: right;
	padding: 24px 32px;
	padding-top: 0;
}
.place-form .header {
	padding: 24px 0;
	margin: 0 32px;
	border-bottom: 1px solid rgba(116, 123, 140, 0.2);
}

.place-form .header h1 {
	font-size: 24px;
}

